<div style="text-align: right;">
    <span (click)="openDialog()" class="material-icons">add_circle</span>

</div>

<div *ngIf="allContacts.length; else elseBlock">
    <div *ngFor="let contact of allContacts; index as i;">


        <mat-card>
            <mat-card-title>{{contact.name}}</mat-card-title>
            <mat-card-subtitle>{{contact.number}}</mat-card-subtitle>
            <mat-card-actions align="end">
                <button mat-button (click)="editContact(contact, i)">Edit</button>
                <button mat-button (click)="deleteContact(i)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<ng-template #elseBlock>

    <h1 style="margin: 10% ;">No Contact Found</h1>
    <p style="margin:10%">
        Please Click on add button and add your contact to see them here
    </p>
</ng-template>